body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #006975;  
    
}


header {
    background: rgb(28, 154, 169);
    color: black;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    background:  rgb(28, 154, 169);
    color: black;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 40px;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

nav .dropdown {
    position: relative;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #53929A;
    box-shadow: 0 8px 16px black;
    z-index: 1;
}

nav .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

main {
    padding: 20px;
}

footer {
    background:rgb(28, 154, 169);
    color:black;
    text-align: center;
    padding: 1em;
    margin: 0; 
    position: relative; 
    width: 98%;
    clear: both; 
}

#welk {
    height: 100vh;
    width: 100%;
    margin: 0; 
    padding: 0; 
}

.imgright {
    float: right;
    
}

.imgright {
    float: left; 
    margin-right: 20px; 
}

.imgright {
    float: right; 
    margin-right: auto; 
}

.div {
    margin-top: 10%; /* alle div regels beginnen van hier (er is alleen maar en div regel) */
    margin-bottom: 10%; 
    margin-left: 10px;
}

.div ul {
    list-style-type: none;
}

.div li {
    font-size: 30px;
    margin-top: 10%; 
    margin-left: 30px;
    color: black;
}


.text ul {
    list-style-type: none;
}

.text li {
    font-size: 35px;
    margin-top: 10%; 
    margin-left: 30px;
    color: black;
}




.par {
    font-size: 30px;
    margin-top: 10%; 
    margin-left: 40px;
}
